---
import { storyblokEditable } from '@storyblok/astro'
import RichText from './utils/RichText.astro'
import cloneDeep from 'clone-deep'

const { blok } = Astro.props
---

{
  blok.layout === 'center' && !blok.image && (
    <div class="hero bg-base-200 min-h-screen" {...storyblokEditable(blok)}>
      <div class="hero-content text-center">
        <div class="max-w-md">
          <RichText content={blok.content} />
        </div>
      </div>
    </div>
  )
}
{
  blok.layout === 'center' && blok.image && (
    <div
      class="hero min-h-screen"
      style={`background-image: url(${blok.image.filename});`}
      {...storyblokEditable(blok)}>
      <div class="hero-overlay" />
      <div class="hero-content text-neutral-content text-center">
        <div class="max-w-md">
          <RichText content={blok.content} />
        </div>
      </div>
    </div>
  )
}
