---
import { storyblokEditable } from '@storyblok/astro'
import RichText from './utils/RichText.astro'
import Heading from './utils/Heading.astro'
const { blok } = Astro.props
---

<section class="container" {...storyblokEditable(blok)} data-aos="fade-up">
  <div class="relative">
    <dl
      class="grid grid-cols-1 gap-x-4 gap-y-12 lg:grid-cols-3 lg:divide-x lg:border-x border-base-content/50 divide-base-content/50">
      <!-- Loop through each step in the array -->
      {
        blok.steps?.map((step, index) => (
          <div class="lg:px-8" data-aos="fade-left" data-aos-duration={1000 + index * 500}>
            <div class="flex items-center text-accent gap-3">
              <span>{index + 1}.</span>
              <dt class="text-lg font-medium tracking-tight text-base-content">
                <Heading tag={blok.tag} class="text-lg md:text-xl font-medium" content={step.title} />
              </dt>
            </div>
            <dd class="mt-2 font-medium text-base-content">
              <RichText content={step.content} />
            </dd>
          </div>
        ))
      }
    </dl>
  </div>
</section>
