---
import { storyblokEditable } from '@storyblok/astro'
import RichText from './utils/RichText.astro'
import Heading from './utils/Heading.astro'
const { blok } = Astro.props
---

<section class="container" {...storyblokEditable(blok)}>
  <div class="relative">
    <div class="lg:text-balance">
      <RichText content={blok.title} />
    </div>
    <dl class="flex flex-col mt-12 divide-y divide-base-content/50">
      <!-- Loop through each step in the array -->
      {
        blok.steps?.map((step, index) => (
          <div class="py-4 grid grid-cols-1 lg:grid-cols-2" data-aos="fade-up" data-aos-duration={1000 + index * 500}>
            <div class="flex items-center gap-3">
              <span class="flex items-center justify-center rounded-full size-8 bg-accent text-accent-content">
                {index + 1}
              </span>
              <dt>
                <Heading tag={blok.tag} class="text-lg md:text-xl font-medium" content={step.title} />
              </dt>
            </div>
            <dd class="mt-4">
              <RichText content={step.content} />
            </dd>
          </div>
        ))
      }
    </dl>
  </div>
</section>
