---
const { src, class: classList, innerclass } = Astro.props
let innerHTML = await fetch(src).then((res) => res.text())
innerHTML = innerHTML.replace('<svg', `<svg class="${innerclass}"`)
---

<div class=`fill-current stroke-current ${classList ? classList : ''}`><Fragment set:html={innerHTML} /></div>

<style>
  div > :global(svg) {
    max-width: 100%;
    max-height: 100%;
  }
</style>
